
<% @passWords = Keychain.where(user_id: current_user) %>
<table width="80%" align="center">
  <tr>
    <td colspan="2" align="center"><h1><b>Saved Keys</b></h1><br></td>
  </tr>
  <tr>
    <td colspan="2">
  <table id="passwords">
    <tr>
      <td width="50%" align="center" id="td2"><b>Name:</b></td>
      <td width="50%" align="center" id="td2"><b>Options:</b></td>
    </tr>
  <% @passWords.each do |j| %>
    <tr>
      <td width="50%" align="center" id="td1"><%= j.keyname %></td>
      <td width="50%" align="center" id="td3"><%= link_to 'VIEW', j %>|<%= link_to 'edit', edit_keychain_path(j) %>|<%= link_to 'delete', j, method: :delete, data: { confirm: 'Are you sure you want to delete this password? This action CANNOT be undone.' } %></td>
  </tr>

  <% end %>
  </table>
  </td>
  </tr>
</table>

<table width="60%" align="center">
    <tr>
      <td width="100%" align="center"><br><%= button_to " New Key ", pass_path, :class => "btn btn-primary btn-lg", :method => :get  %></td>
    </tr>
</table>
